<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EBidding</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            {% if session_user_name %}
             
               namespace = '/test';

               // Connect to the Socket.IO server.
               // The connection URL has the following format:
               //     http[s]://<domain>:<port>[/<namespace>]
               var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

              // Event handler for new connections.
              // The callback function is invoked when a connection with the
              // server is established.
              socket.on('connect', function() {
                 socket.emit('my_event', {data: 'I\'m connected!'});
              });
              

              // Event handler for server sent data.
              // The callback function is invoked whenever the server emits data
              // to the client. The data is then displayed in the "Received"
              // section of the page.
              socket.on('my_response', function(msg) {
                 $('#log').append('<br>' + $('<div/>').text('Received ' + ': ' + msg.data + msg.cnt + msg.product + msg.wnr + msg.winner).html());
              });

            {% endif %}	   

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });
            $('form#join').submit(function(event) {
                socket.emit('join', {room: $('#join_room').val()});
                return false;
            });
            $('form#leave').submit(function(event) {
                socket.emit('leave', {room: $('#leave_room').val()});
                return false;
            });
            $('form#send_room').submit(function(event) {
                socket.emit('my_room_event', {room: $('#room_name').val(), data: $('#room_data').val()});
                return false;
            });
            $('form#close').submit(function(event) {
                socket.emit('close_room', {room: $('#close_room').val()});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
        });
    </script>


  </head>

  <body>
	<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}

	{% block body %}{% endblock %}
	</div>


    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>

            {% if session_user_name %}
                <li role="presentation"><a href="/products">Products</a></li>
                <li role="presentation"><a href="/logout">Logout</a></li>
            {% else %}
                <li role="presentation"><a href="/login">Login</a></li>
 	            <li role="presentation"><a href="/Register">Register</a></li>
 	        {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">EBidding</h3>
      </div>

    {% if session_user_name %}
                <p align="right">Hello <b>{{ session_user_name }}</b></p>
    {% endif %}

      <div class="container">
        <h1>Welcome to EBidding</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="Register" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>How to add Products for auctions</h4>
          <p>Register with EBidding to add a product to auction</p>

          <p>Each product  will be open for 5 minutes for bidding</p>

          <p>End of 5 minutes Client with highest bid wins</p>
        </div>

        <div class="col-lg-6">
          <h4>How to Bid products</h4>
          <p>Register with EBidding to bid for an item</p>

          <p>Can bid a product for any number of times</p>

          <p>Client will indicated if it wins the Bid</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; GaneshSanthar</p>
      </footer>

    </div>
	 <div id="log">
	</div>
  </body>
</html>

